@font-face{
    font-family: 'Cereal';
    src: url('AirbnbCerealBold.ttf') format('truetype');
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Cereal';
}

.wrapper{
  width: 100%;
  height: 100%;
}

.top_navbar{
  background: #fff;
  height: 70px;
  display: flex;
  position: fixed;
  width: 75%;
  top: 0;
}

.top_navbar .hamburger{
  width: 86px;
  background: #fff;
  position: relative;
}

.top_navbar .hamburger .hamburger__inner{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.top_navbar .menu{
  width: calc(100% - 80px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.top_navbar .mag{
  margin-top: 15px;
  display: flex;
  justify-content: right;
  align-items: right;
  padding: 0 20px;
}

.top_navbar .menu .logo{
  color: black;
}

.main_container .sidebar{
  position: fixed;
  top: 70px;
  left: 0;
  width: 200px;
  height: 100%;
  background: #fff;
  transition: all 0.3s ease;
}

.main_container .sidebar .sidebar__inner{
  position: relative;
}

.main_container .ctr{
  margin-top: 60px ;
  width: calc(100% - 190px);
  margin-left: 190px;
  padding: 30px;
  transition: all 0.3s ease;
}

.main_container .sidebar ul li a{
  color: rgb(168, 149, 149);
  font-size: 18px;
  padding: 20px 30px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  transition: all 0.6s ease;
}

.main_container .sidebar ul li a .icon{
  margin-right: 15px;
  margin-left: -15px;
  font-size: 28px;
}

.main_container .sidebar ul li a span{
  display: inline-block;
}

.main_container .sidebar ul li a:hover,
.main_container .sidebar ul li a.active{
  background: silver;
}

.wrapper.active .sidebar{
  width: 75px;
}

.wrapper.active .sidebar ul li a span.title
{
  display: none;
}

.wrapper.active .main_container .ctr{
  width: calc(100% - 80px);
  margin-left: 80px;
}

.card{
    background: #E5E5E5 !important ;
}

.btnn{
    width: 100%;
}

.spin{
    width: 50%;
    height: 20px;
    position: relative;
    display: flex;
    box-sizing: border-box;
}

.spin p{
    color: #82DE3A;
    width: 20px;
    border: 1px solid #82DE3A;
    position: absolute;
    text-align: center;
}

.price_cart{
    position: absolute;
    right: 0;
    transform: translate(0, -90%);
}

@media (max-width: 1080px){
    .price_cart{
        position: absolute;
        left: 20px;
        transform: translate(0, 30%);
    }
}